@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

[role="button"]{
  cursor: pointer
}

*{
  box-sizing: border-box;
}
body{
  --main-font: 'Nunito Sans', sans-serif;
  --light-gray: #2B3743;
  --dark-gray: #202D36;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}
.w-100{
width: 100%;
}
p{
  margin: 0;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
main{
  background-color: hsl(0, 0%, 98%);
}
main[darkmode='true']{
  background-color: var(--dark-gray);
}
.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 15px 10px;
}
@media(max-width: 1500px){
  .container{
    padding: 15px 50px;
  }
}

[darkmode]{
  transition: .3s;
}